<footer
  class="bg-background/95 supports-[backdrop-filter]:bg-background/60 top-0 z-50 w-full backdrop-blur"
>
  <div
    class="flex h-16 items-center space-x-4 sm:justify-between sm:space-x-0 p-5"
  >
    <div class="flex gap-6 md:gap-10">
      <span class="inline-block font-bold">© VUKCUK</span>
    </div>
  </div>
</footer>
